<body>
  <h1>CONFIGURAÇÕES</h1>
  <div class="quantidade-jogadores">
    Quantidade de jogadores por equipe:
    <div class="quantidade-jogadores-select">
      <select name="quantidade-jogadores" id="quantidade-jogadores">
        <option value="0">Qtd. de Jogadores:</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
      </select>
    </div>
  </div>
  <div class="contar-goleiro">
    <label class="switch">
    <input class="contar-goleiro-switch" type="checkbox" name="contar-goleiro" id="contar-goleiro-check">
    <span class="slider round"></span> 
    Contar goleiro entre os jogadores?</label>
  </div>
</body>